.topbar{
    background-color: grey;
    display: flex;
    height: 100px;
    /* justify-content: space-between; */

}

.topbarLeft{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbarCenter{
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbarRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}